<div class="container__big-card">
    <!-- conteúdo mockado (estático): somente para visualização. Depois vamos dinamizar os componentes -->

    <div class="big-card__photo">
        <img src="https://www.mooc.org/hubfs/applications-of-computer-programming.jpg" 
        alt=""
        width="400px"      
        >
    </div>
    <div class="big-card__title">
       <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt fugit quas id aspernatur. Nulla, corporis id eligendi fugit quod dicta rem dolore fuga, esse reprehenderit molestiae cumque est, hic velit.</p>
    </div>
    
</div>


