<app-menu-title> </app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1"
        photoCover="https://www.mooc.org/hubfs/applications-of-computer-programming.jpg"
        cardTitle="O mundo da programação "
        cardDescription="Este mundo é realmente incrível. A medida que você vai crescendo em conhecimento, vai adquirindo novas habilidades capazes de te levar a um nível ainda mais profundo na tecnologia!"
        > 
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
        Id="2"
        photoCover="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
        cardTitle="Desenvolvendo aplicação de blog utilizando o Framework Angular"
        >
        </app-small-card>  
        <app-small-card 
        Id="3"
        photoCover="https://static.wixstatic.com/media/c60f10_9605a49c09e948e6bf0195ac2738df23~mv2.png/v1/fill/w_560,h_316,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c60f10_9605a49c09e948e6bf0195ac2738df23~mv2.png"
        cardTitle="O Typescript é um superset do javascript que auxilia na criação de componentes com funcionalidades especiais"></app-small-card>  
        <app-small-card 
        Id="4"
        photoCover="https://media.licdn.com/dms/image/D4D22AQHZlmCk4B-Rww/feedshare-shrink_800/0/1692239006760?e=2147483647&v=beta&t=4NqLE1yQfAg0d4Q7vQyQATn5WKkJkzQXtlMri-PyDiQ"
        cardTitle="O Banco Santander e a DIO arrasaram no curso de FullStack Java + Angular"
        ></app-small-card>  
    </div>    
    
</div>
